.App {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 15% 15% 20% 30% 10% 5%;
  margin: 0;
}

/* Header Styling */

.Header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding-right: 15px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 20px;
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
  font-size: 18px;
}

.AA-Logo {
  height: 30px;
  width: 30px;
  align-content: left;
  padding: 30px;
}

/* Splash Styling */

.Splash {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  text-align: center;
}

.Cover {
  max-width: 100%;
}

/* Common Elements Styling */

.Title {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  font-weight: 400;
}

.Intro {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 250px;
  padding-right: 250px;
  font-weight: 300;
  margin-bottom: 70px;
}

/* Expertise Styling */

.Expertise {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  text-align: center;
}

.area-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 40px;
}

.content-container {
  padding: 30px;
  width: 100%;
  height: 250px;
}

.Icon {
  height: 60px;
  width: 60px;
}

.Area {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}

.area-tagline {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 300;
}

.area-description {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Process Styling */

.Process {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 100%;
  text-align: center;
  background-color: #E8E7E7;
}

.Process-image {
  max-width: 75%;
  margin-bottom: 100px;
}

/* Projects Styling */

.Projects {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  width: 100%;
  text-align: center;
}

/* About Styling */

.About {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
  background-color: #E8E7E7;
}

.About-image {
  max-width: 75%;
  margin-bottom: 100px;
}

/* Footer Styling */

.Footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 100%;
    text-align: center;
  }

.Contact li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Logo {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.Copyright {
  font-size: 12px;
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
}
