.App {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 15% 15% 20% 30% 10% 5%;
  margin: 0;
}

/* Header Styling */

.Header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding-right: 15px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 20px;
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
  font-size: 18px;
}

.AA-Logo {
  height: 30px;
  width: 35px;
  align-content: left;
  padding: 30px;
}

.project-link:link {
  text-decoration: none;
  color: #4A4A4A;
}

.project-link:hover {
  text-decoration: none;
  color: #D17171 !important;
}

.project-link:visited {
  text-decoration: none;
  color: #4A4A4A;
}

a.about-link:link {
  text-decoration: none;
  color: #4A4A4A;
}

.about-link:hover {
  text-decoation: none;
  color: #D17171 !important;
}

a.about-link:visited {
  text-decoration: none;
  color: #4A4A4A;
}

.contact-email:link {
  text-decoration: none;
  color: #4A4A4A;
}

.contact-email:hover {
  text-decoration: none;
  color: #D17171;
}

/* Splash Styling */

.Splash {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  text-align: center;
}

.Cover {
  max-width: 100%;
}

/* Common Elements Styling */

.Title {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  font-weight: 400;
  padding: 30px;
}

.Intro {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 250px;
  padding-right: 250px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Expertise Styling */

.Expertise {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  text-align: center;
}

.area-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 40px;
}

.content-container {
  padding: 30px;
  width: 100%;
  height: 250px;
}

.Icon {
  height: 70px;
  width: 70px;
}

.Area {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}

.area-tagline {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 300;
}

.area-description {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 300;
}

/* Process Styling */

.Process {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 100%;
  text-align: center;
  background-color: #E8E7E7;
}

.Process-image {
  max-width: 75%;
  margin-bottom: 40px;
  margin-top: 60px;
}

/* Projects Styling */

.Projects {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  width: 100%;
  text-align: center;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 40px;
  margin-bottom: 100px;
}

.one-container {
  padding: 30px;
  width: 300px;
  height: 250px;
}

.Image {
  height: 200px;
  width: 200px;
}

.Image-pet {
  height: 200px;
  width: 300px;
}

.Image-stoop {
  height: 200px;
  width: 250px;
}

.Image-essentials {
  height: 200px;
  width: 240px;
}

.project-title {
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.project-title:link {
  text-decoration: none;
  color: #D17171 !important;
}

.project-title:hover {
  text-decoration: none;
  color: #4A4A4A !important;
}

.project-title:visited {
  text-decoration: none;
  color: #D17171;
}

.project-description {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* Adopt Project Styling */

.Adopt {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-adopt {
  height: 50%;
  width: 50%;
  margin-top: 150px;
}

.project-description-long {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.Learn-more-button {
  display: inline-block;
  margin-right: 30px;
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #D17171;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.Learn-more-button:hover {
  color: white;
  background-color: #D17171;
}

.Github-button {
  display: inline-block;
  margin-right: 30px;
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #D17171;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.Github-button:hover {
  color: white;
  background-color: #D17171;
}

/* Alasys Project Styling */

.Alasys {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-alasys {
  height: 100%;
  width: 100%;
}

.tagline-alasys {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 100px;
}

.project-description-long-alasys {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.method {
  height: 100%;
  width: 100%;
}

.customer {
  height: 100%;
  width: 100%;
}

.forces {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 150px;
}

/* Caretaker Project Styling */

.Caretaker {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-caretaker {
  height: 50%;
  width: 50%;
}

/* Diplomacy Project Styling */

.Diplomacy {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-diplomacy {
  height: 50%;
  width: 50%;
}

/* Essentials Project Styling */

.Essentials {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-essentials {
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.tagline-essentials {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 100px;
}

.project-description-long-essentials {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.project-description-long {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.buttons {
  display: inline-block;
}

.Learn-more-button {
  margin-right: 30px;
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #D17171;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.Learn-more-button:hover {
  color: white;
  background-color: #D17171;
}

.Github-button {
  margin-right: 30px;
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #D17171;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.Github-button:hover {
  color: white;
  background-color: #D17171;
}

/* Prepare Project Styling */

.Prepare {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-prepare {
  height: 50%;
  width: 50%;
}

/* Sports Project Styling */

.Sports {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-sports {
  height: 100%;
  width: 100%;
}

.Image-big-sports-prototype {
  height: 50%;
  width: 50%;
}

.tagline-sports {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 100px;
}

.project-description-long-sports {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

/* Stategov Project Styling */

.Stategov {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-stategov {
  height: 50%;
  width: 100%;
}

.tagline-stategov {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 100px;
}

.disclaimer {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 100px;
  padding: 100px;
}

.project-description-long-stategov {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

/* Stoop Project Styling */

.Stoop {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.Image-big-stoop {
  height: 50%;
  width: 50%;
  margin-top: 150px;
}

.project-description-long {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.Learn-more-button {
  display: inline-block;
  margin-right: 30px;
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #D17171;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.Learn-more-button:hover {
  color: white;
  background-color: #D17171;
}

.Github-button {
  display: inline-block;
  margin-right: 30px;
  color: #D17171;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color: #D17171;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.Github-button:hover {
  color: white;
  background-color: #D17171;
}

/* About Styling */

.About {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  text-align: center;
}

.About-image {
  max-width: 75%;
  margin-bottom: 60px;
  margin-top: 60px;
}

.Manifesto-intro {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding-left: 250px;
  padding-right: 250px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 3px;
  margin-top: 300px;
}

.Manifesto {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 250px;
  padding-right: 250px;
  font-weight: 300;
}

.Manifesto-outro {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding-left: 440px;
  padding-right: 440px;
  font-weight: 400;
  margin-bottom: 300px;
}

.About-container {
  background-color: #E8E7E7;
}

.About-title {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  font-weight: 400;
  padding-top: 100px;
}

.About-intro {
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 250px;
  padding-right: 250px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Footer Styling */

.Footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 100%;
    text-align: center;
  }

.Contact {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 30px;
}

.Contact li {
  padding-right: 0px;
  padding-left: 0px;
}

.Logo {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.Copyright {
  font-size: 12px;
  color: #4A4A4A;
  font-family: 'Tajawal', sans-serif;
  font-variant: small-caps;
  padding: 0px;
}
